<p style="color: green"><%= notice %></p>

<% content_for :title, t('tasks.title') %>

<h1><%= t('tasks.title') %></h1>

<div id="tasks">
  <% @tasks.each do |task| %>
    <%= render task %>
    <p>
      <%= link_to t('tasks.show_task'), task %>
    </p>
  <% end %>
</div>

<%= link_to t('tasks.new_task'), new_task_path %>
