<p style="color: green"><%= notice %></p>

<%= render @task %>

<div>
  <%= link_to t('tasks.edit_task'), edit_task_path(@task) %> |
  <%= link_to t('tasks.title'), tasks_path %>

  <%= button_to t('tasks.delete_task'), @task, method: :delete, data: { confirm: t('tasks.confirm_delete') } %>
</div>
